* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-card {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 650px;
    height: 763px;
    border-radius: 20px;
}

.form-header {
    padding: 20px 0;
}

.logo {
    text-align: center;
}

.main-title {
    font-family: 'Inter';
    font-weight: 600;
    text-align: center;
}

.form-body {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.input-row {
    display: flex;
    padding: 15px 40px;
}

.input-area {
    flex: 1;
    margin-right: 20px;
}

.large {
    flex: 2;
}

label {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito';
    font-size: 14px;
    color: #767676;
}

input {
    padding: 8px;
    font-family: 'Nunito';
    font-size: 1em;
    color: #767676;
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    margin-top: 5px;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

input[type="date"] {
    width: 183.33px;
    height: 38.67px;
}

input[type="checkbox"] {
    display: none;
}

.checkmark {
    height: 14px;
    width: 14px;
    border: 1.5px solid #AAAAAA;
    border-radius: 2px;
    margin-top: 3.5px;
    margin-right: 5px;
}

label:hover input~.checkmark {
    background-color: #CCCCCC;
}

input[type="checkbox"]:checked~.checkmark {
    background: #0DBDBD;
    border: 0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.label input:checked~.checkmark:after {
    display: block;
}

label .checkmark:after {
    width: 5px;
    height: 5px;
    margin-left: 3px;
    margin-top: 1.5px;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type="checkbox"]:checked~.checkmark:after {
    display: block;
}

.last-row {
    justify-content: space-around;
    padding: 15px 40px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.last-row label {
    flex-direction: row;
    color: #111111;
    font-size: 16px;
}

.button {
    width: 80px;
    height: 40px;
    background: #0DBDBD;
    color: #FFFFFF;
    border: 0;
    border-radius: 10px;
    padding: 0 12px;
    cursor: pointer;
}

.error {
    margin-top: 4px;
    font-family: 'Nunito';
    font-size: 14px;
    color: #FF0000;
}

.hidden {
    display: none;
}

@media (max-width:650px) {
    body {
        height: auto;
        background: #FFFFFF;
    }

    .form-card {
        width: 100vw;
        height: 100%;
        border-radius: 0;
    }

    .input-row {
        flex-direction: column;
        padding: 0 20px;
    }

    .input-area {
        margin-right: 0;
    }

    input[type="date"] {
        width: auto;
    }

    label {
        margin-bottom: 15px;
    }

    .last-row {
        margin-top: 25px;
    }

    .button {
        width: 80vw;
        height: 56px;
        margin-top: 20px;
        position: absolute;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-height:750px) {
    body {
        height: auto;
    }
}