* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-card {
    background: #FFFFFF;
    display: flex;
    flex: 1;
    max-width: 620px;
    border-radius: 20px;
    justify-content: center;
}